.container {
  flex-direction: column; /* Put items on top of each other */
  gap: 100px;
}

.welcome-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.languages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

.flag {
  width: 125px;
  height: 125px;
}

/* Remove underline of text */
.language { text-decoration: none }
.language-name { text-align: center }
